* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    font-size: 13px;
    color: #41ac52;
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

header {
    width: 100%;
    height: 70px;
    background-color: #edf4ed;
}

nav {
    display: flex;
    align-items: center;
    width: 1040px;
    height: 70px;
    margin: 0 auto;
}

nav img {
    width: 142px;
    height: 28px;
}

.wrap {
    width: 1002px;
    height: 584px;
    margin: 124px auto 0;
}

.left {
    display: inline-block;
    width: 494px;
    height: 584px;
}

.left img {
    width: 494px;
    height: 547px;
}

.download {
    display: flex;
    justify-content: center;
    width: 494px;
    height: 37px;
}

.download a:nth-child(1) img {
    width: 131px;
    height: 37px;
}

.download a:nth-child(2) img {
    width: 37px;
    height: 37px;
}

.right {
    display: inline-block;
    width: 340px;
    height: 450px;
    border: 1px solid #d8d8d8;
    vertical-align: top;
    padding: 50px 30px 100px;
    background-color: #fff;
}

.login-hd {
    display: flex;
    justify-content: space-around;
    width: 280px;
    height: 39px;
    margin-bottom: 10px;
    color: #9b9b9b;
    border-bottom: 1px solid #ececec;
}

.login-hd li {
    display: inline-block;
    font-size: 18px;
}

/* 焦点样式 */
.focus {
    border-bottom: 2px solid #494949;
    color: #333;
    font-weight: 600;
}

/* form1 */
.form1 {
    /* display: none; */
}

.login-bd,
.form1,
.form2 {
    width: 280px;
    height: 241.51px;
}

.tips {
    width: 280px;
    height: 42.05px;
    color: #9b9b9b;
    font-size: 13px;
}

.phone {
    width: 280px;
    height: 37.43px;
    margin-bottom: 10px;
    border: 1px solid #ececec;
}

.phone div {
    display: inline-block;
    text-align: center;
    line-height: 37.43px;
    width: 50px;
    height: 37.43px;
    vertical-align: middle;
}

.phone input {
    border-left: 1px solid #ececec;
    width: 220px;
    height: 25px;
    padding-left: 15px;
}


.code {
    width: 280px;
    height: 40px;
    border: 1px solid #ececec;
}

.fetch {
    float: right;
    text-align: center;
    margin-top: 8px;
    width: 85px;
    height: 40px;
}

.code input {
    margin-top: 12px;
    margin-left: 10px;
    width: 180px;
}
.register,.insure {
    height: 90px;
    width: 282px;
}
.insure {
    display: none;
}
.insure input{
    height: 40px;
    width: 270px;
    margin-bottom: 5px;
}


button {
    width: 280px;
    height: 36px;
    font-weight: 600;
    font-size: 15px;
    background-color: #41ac52;
    border-radius: 3px;
    color: #fff;
    border: none;
}

.other {
    width: 280px;
    height: 41px;
    line-height: 41px;
}

.other a {
    float: right;
}

/* form2 */
.form2 {
    display: none;
}
.form2 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 37.43px;
    border: 1px solid #ececec;
    margin-bottom: 10px;
    padding: 10px;
}
.account {
    width: 260px;
}
.form2 li a {
    color: #9b9b9b;
}

/* 第三方 */
.third {
    width: 280px;
    height: 65.41px;
}

.third-hd {
    width: 280px;
    height: 19.41px;
    color: #9b9b9b;
    font-size: 11px;
    text-align: center;
}

.third-hd::before {
    content: "";
    background: #ddd;
    margin-top: 9px;
    width: 36%;
    height: 1px;
    float: left;
}

.third-hd::after {
    content:"";
    background: #ddd;
    margin-top: 9px;
    width: 36%;
    height: 1px;
    float: right;
}

.third-bd {
    display: flex;
    justify-content: space-around;
    width: 280px;
    height: 46px;
}

.third-bd a {
    display: inline-block;
    padding-top: 10px;
    width: 36px;
    height: 36px;
}