li {
    list-style: none;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: #494949;
    padding: 0 0 15px 0;
    line-height: 1.1;
}

.headline {
    width: 675px;
    height: 250px;
}

.headline img {
    width: 154px;
    height: 220px;
}

#info {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

#info li {
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
}

#info span {
    color: black;
}
/* 介绍 */
.introduce {
    width: 675px;
    height: 160px;
    font-size: 14px;
}

.hd {
    width: 675px;
    height: 26px;
    margin-bottom: 10px;
}

.bd {
    width: 675px;
    height: 120px;
    line-height: 25px;
    overflow: hidden;
    position: relative;
}

.bd span {
    display: inline-block;
    color: #37a;
    background-color: white;
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 400px;
}
/* 获奖情况 */
.award {
    margin: 50px 0;
    font-size: 15px;
}
/* 最近作品 */
.opus {
    width: 675px;
    height: 314px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.opus ul {
    width: 675px;
    height: 278px;
    font-size: 0;
}

.opus li {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    height: 278px;
    margin-right: 20px;
}

.year {
    width: 115px;
    height: 29px;
    font-size: 16px;
    color: #999;
}

.opus img {
    width: 115px;
    height: 161px;
}

.title {
    width: 115px;
    height: 42px;
    text-align: center;
    color: #37a;
    font-size: 13px;
}
/* 最受好评的作品 */
.best {
    width: 675px;
    height: 265px;
}
.best ul {
    width: 675px;
    height: 227px;
    font-size: 0;
}
.best li {
    display: inline-block;
    width: 115px;
    height: 227px;
    margin-right: 20px;
    vertical-align: top;
}
.best img {
    width: 115px;
    height: 161px;
}
/* 合作影人 */
.people {
    width: 675px;
    height: 225px;
}
.people ul {
    width: 675px;
    height: 190px;
    font-size: 0;
}
.people li {
    display: inline-block;
    width: 95px;
    height: 190px;
    margin-right: 15px;
}
.people img {
    width: 95px;
    height: 135px;
}
/* 登录状态 */
.header_right1 {
    position: relative;
}

.myself {
    display: none;
    width: 88px;
    height: 140px;
    padding: 10px 0;
    border: 1px solid #e6e6e6;
    background: #fff;
    position: absolute;
    top: 28px;
    left: 0;
}
.myself li {
    width: 88px;
    height: 28px;
    font-size: 12px;
    text-align: center;
}
/* 特效 */
.myself li:hover {
    background-color:  #e6e6e6;
}